.container-fluid {
    background-color: blueviolet;
}

.intro_servicios {
    color: blueviolet;
}

.fs-5 {
    color: blueviolet;
}

.text_titulo {
    color: blueviolet;
}

.btn {
    background-color: blueviolet;
    color: white;
}